@model Pandalicious.Models.Recipe;

@{
    ViewData["Title"] = "Recipe";
}

<div class="" id="recipesPage">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="menu-list">
                <div class="single-menu">
                    <h3>@ViewBag.Recipe.RecipeName</h3>


                    <div class="row RecipeNavBar center">
                        <a asp-controller="Recipe" asp-action="EditRecipe" asp-route-id="@ViewBag.Recipe.RecipeId" class="genric-btn primary-border small"><i class="fa fa-pencil">  Edit</i></a>
                        <button class="genric-btn primary-border small" data-toggle="AddMealTooltip" data-placement="bottom" title="Saves the meal to your meal plan"><i class="fa fa-plus">  Meal Plan</i></button>
                        <button class="genric-btn primary-border small" data-toggle="AddShoppingListTooltip" data-placement="bottom" title="Adds all of the ingredients to your shopping list"><i class="fa fa-plus">  Shopping List</i></button>
                        <button class="genric-btn primary-border small"><i class="fa fa-print">  Print</i></button>
                        <button id="deleteRecipe" value="@ViewBag.Recipe.RecipeId" class="genric-btn primary-border small"><i class="fa fa-trash">  Delete Recipe</i></button>
                    </div>
                    <ul class="list">
                        <li>
                            <p><span class="menu-item">Servings:</span> @ViewBag.Recipe.RecipeServings</p>
                            <p><span class="menu-item">Duration:</span> @ViewBag.Recipe.RecipeDuration</p>
                        </li>
                        <li>
                            <p class="menu-item">Ingredients:</p>
                            @foreach (var i in ViewBag.Ingredients)
                            {
                                <div class="row">
                                    <button data-toggle="AddIngredientToolTip" data-placement="bottom" title="Adds the selected ingredient to the shopping list" class="genric-btn primary-border small"><i class="fa fa-plus"> </i></button> &nbsp;
                                    <p>@i.MenuMeasurement @i.Ingredient.IngredientName</p>

                                </div>
                            }
                        </li>
                        <li>
                            <p class="menu-item">Directions:</p>
                            @foreach (var d in ViewBag.Directions)
                            {
                                <p>Step @(d.Direction.DirectionStep): @d.Direction.DirectionDescription</p>
                            }
                        </li>
                        <li>
                            <p class="menu-item">Notes:</p>
                            <p>@ViewBag.Recipe.RecipeNotes</p>
                        </li>
                        <li>
                            <p class="menu-item">Tags:</p>
                            @foreach (var t in ViewBag.Tags)
                            {
                                <p>@t.Tag.TagName</p>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="/js/Recipe.js"></script>
    <script>$(document).ready(function () {
            $('[data-toggle="AddMealTooltip"]').tooltip();
            $('[data-toggle="AddShoppingListTooltip"]').tooltip();
            $('[data-toggle="AddIngredientToolTip"]').tooltip();
        });</script>

}